<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><%= @menu %></a>
      <ul class="nav navbar-nav">
        <li><a href="<%= root_path %>">Home</a></li>
        <li><a href="<%= orders_path %>">Order</a></li>
        <li><a href="<%= articles_path %>">Articles</a></li>
        <li><a href="<%= products_path %>">Products</a></li>
        <li><a href="<%= categories_path %>">Categories</a></li>
        <li><a href="<%= books_path %>">Books</a></li>
        <li><a href="<%= authors_path %>">Authors</a></li>
        <li><a href="<%= surveys_path %>">Surveys</a></li>
        <li><a href="<%= people_path %>">People</a></li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#"><%= value %></a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
