<%= link_to "Join", event_join_path(event_id: @event.id),
            :class=>"btn btn-success btn-lg pull-right" unless @event.organizer_id == current_user.id %>
<h1 class="text-center">
  <small>
    <label><%= @event.title %></label>
  </small>
</h1>
<br/>
<div class="row text-spacing ">
  <div class="col-md-2">
    <strong>Start date</strong>
  </div>
  <div class="col-md-10">
    <%= l @event.start_date, format: :date_format %>
  </div>
  <div class="col-md-2">
    <strong>End date</strong>
  </div>
  <div class="col-md-10">
    <%= l @event.end_date, format: :date_format %>
  </div>
  <div class="col-md-2">
    <strong>Location</strong>
  </div>
  <div class="col-md-10">
    <%= @event.location %>
  </div>
  <div class="col-md-2">
    <strong>Agenda</strong>
  </div>
  <div class="col-md-10">
    <%= @event.agenda %>
  </div>
  <div class="col-md-2">
    <strong>Address</strong>
  </div>
  <div class="col-md-10">
    <%= @event.address %>
  </div>
  <div class="col-md-2">
    <strong>Email:</strong>
  </div>
  <div class="col-md-10">
    <%= @event.organizer.email %>
  </div>
  <div class="col-md-2">
    <strong>Tags</strong>
  </div>
  <div class="col-md-10">
    <%=raw @event.tags.map { |t| link_to t.name, tag_path(t.name) }.join(', ') unless @event.all_tags.blank? %>
  </div>
  <div class="col-md-2">
    <strong>Organized By:</strong>
  </div>
  <div class="col-md-10">
    <%= image_tag avatar_url(@event.organizer) %>
  </div>
</div>

<%= link_to 'Edit', edit_event_path(@event), class: 'btn' %> |
<%= link_to 'Back', events_path, class: 'btn' %> |
<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>

<%= render partial: 'joined_requests', locals: {attendees: @attendees} %>

<% if user_signed_in? && @event.organizer_id == current_user.id%>
  <%= render partial: 'join_requests', locals: {pending_requests: @pending_requests } %>
<% end %>