<p id="notice"><%= notice %></p>

<div class="panel panel-success">
  <div class="panel-heading"><%= @event.title %></div>
  <div class="panel-body">
    <div>
      <strong>Start date</strong>
      <%= l @event.start_date, format: :date_format %>
    </div>
    <div>
      <strong>End date</strong>
      <%= l @event.end_date, format: :date_format %>
    </div>
    <div>
      <strong>Location</strong>
      <%= @event.location %>
    </div>
    <div><strong>Agenda</strong>
      <%= @event.agenda %>
    </div>
    <div>
      <strong>Address</strong>
      <%= @event.address %>
    </div>
    <div>
      <strong>Organizer</strong>
      <%= @event.organizer_id %>
    </div>
    <%=raw @event.tags.map { |t| link_to t.name, tag_path(t.name) }.join(', ') unless @event.all_tags.blank? %>
  </div>
</div>

<%= link_to 'Edit', edit_event_path(@event), class: 'btn' %> |
<%= link_to 'Back', events_path %> |
<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
