<div id="main" role="main" class="wrapper">
  <ul id="pins">
    <% @pins.each do |pin| %>
      <li class="pin">
        <%= link_to(image_tag(pin.image.thumb.url), pin) %>
        <p>
          <a href="#info" rel="facebox">
            <i class="icon-share-sign"></i>Pin This
          </a>
        <div id="info" style="display:none;">
        <%= render partial: "pin_post", locals: {pin: pin} %>
      </div>
          <strong>Board:</strong><%= pin.board.title %><br/>
          <%= pin.board.title %>
        </p>
      </li>
    <% end %>
    <div><%= paginate @pins %></div>
  </ul>
</div>
<br>

<script>
  jQuery(document).ready(function($) {
    $('a[rel*=facebox]').facebox()
  })
</script>