<!DOCTYPE html>
<html>
<head>
  <title>ActionView</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

  <%= controller_assets  %>

  <%= csrf_meta_tags %>

  <%= yield :special_script %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<%=  debug params %>
<%= render partial: 'shared/navbar', object: @item, as: "value" %>
<div class="container">
  <% @menu = "Title text"; @item = "Some value" %>

  <%= yield :head %>
  <%= yield %>
</div>

</body>
</html>
