<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<%= content_tag :div, '', id: 'orders_chart', data: { orders: orders_chart_data } %>

<%= link_to 'New Order', new_order_path %>
<table class="table">
  <thead>
    <tr>
      <th>Order number</th>
      <th>Amount</th>
      <th>Purchased</th>
      <th>Shipping</th>
      <th>Price</th>
      <th>State</th>
      <th>Possible events</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_number %></td>
        <td><%= order.amount %></td>
        <td><%= order.purchased_at.strftime("%B %e, %Y %H:%M") %></td>
        <td><%= order.shipping ? "Yes" : "No" %></td>
        <td><%= number_to_currency order.price %></td>
        <td><%= order.state %></td>
        <td><%= order.state_events %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Change state', change_state_path(order), method: :put %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @posts %>
<br>

