<div class="fields">
  <div class="form-group">
    <%= f.label :content, "Question" %>
    <%= f.text_area :content, rows: 3, class: "form-control" %>
    <%= link_to_remove_fields "remove", f %><br/>
  </div>
  <%= f.fields_for :answers do |builder| %>
      <%= render 'answer_fields', f: builder %>
  <% end %>
  <p><%= link_to_add_fields "Add Answer", f, :answers %></p>
</div>

